* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wip {
    width: 400px;
    align-self: center;
}

/* BODY para que el footer siempre quede abajo */
body {
    background-color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    background-color: black;
    padding: 20px 40px;
}

/* Imagen del título */
.titulo {
    height: 100px;
    width: auto;
    display: block;
}

.parte-arriba-cabecera {
    display: flex;
    align-items: center;
}

.claqueta {
    margin-left: auto;
    height: 80px;   /* ajusta si quieres */
    width: auto;
}

/* NAV dentro del header */
.menu-navegacion {
    margin-top: 15px;
}

/* Lista del menú */
.menu-navegacion ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

/* Enlaces del menú */
.menu-navegacion a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.menu-navegacion a:hover {
    color: #ffd700;
}

main {
    background: linear-gradient(to bottom, #7b0d0d, #5a0909);
    flex: 1;
    padding: 40px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Imagen de espectadores */
.espectadores {
    width: 1000px;      /* tamaño moderado */
    height: auto;
    margin-top: auto;  /* la empuja hacia abajo */
    display: block;
}

/* CONTENEDOR central */
.contenedor {
    width: 85%;
    min-height: 400px;
    margin: 0 auto;
    background-color: rgba(255, 248, 240, 0.95);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

footer {
    background-color: black;
    padding: 20px 0;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

footer {
    display: flex;
    justify-content: center;
}

.pie-izquierdo,
.pie-derecho {
    width: 500px;          /* controla lo cerca que están del centro */
    display: flex;
    align-items: center;
}

.pie-izquierdo {
    justify-content: flex-start;
}

.pie-derecho {
    justify-content: flex-end;
    gap: 10px;
}

.pie-derecho img {
    height: 22px;
    width: auto;
}